<form action="/<%= idea.id %>" method="POST">
  <p>
    <% if idea.id %>
    Edit your Idea:
    <% else %>
      Your Idea:
      <% end %>
  </p>
  <% if idea.id %>
    <input type="hidden" name="_method" value="PUT">
  <% end %>
  <div class="form-group">
    <input class="form-control" type="text" name="idea[title]" value="<%= idea.title %>"><br/>
  </div>
  <div class="form-group">
    <textarea class="form-control" name="idea[description]"><%= idea.description %></textarea>
  </div>
  <input class="btn btn-lg btn-click" type="submit">
</form>
