<!DOCTYPE html>
<html lang="en">
  <head>
    <title>IdeaBox</title>
    <link href="<%= url('bootstrap.min.css') %>" rel="stylesheet">
  </head>
  <body>
    <div class="container theme-showcase" role='main'>
      <div class="jumbotron">
        <h1>Idea Box</h1>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
