<!DOCTYPE html>
<html lang="en">
  <head>
    <title>IdeaBox</title>
    <link href="<%= url('bootstrap.min.css') %>" rel="stylesheet">
    <link href="<%= url('brandon.css') %>" rel="stylesheet">
  </head>
  <body>
    <div class="container theme-showcase" role='main'>
      <div class="jumbotron">
        <h1> <a href="/">Idea Box</a></h1>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
``
