<h2>HI</h2>
<p>
  You look <%= @adjective %> Today
</p>
<p>
  You don't <%= @adjective  %> Today
</p>

<%= partial :'partials/partial' %>
<hr>

<%= partial :'partials/thing', collection @things %>
</hr>
